<!DOCTYPE html>
<html lang="zh-cn" id="html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery-1.11.3.js"></script>
    <script src="./js/resize.js"></script>
</head>
<body class="home-body">
    <div class="guide-des">
        <div><img src="./images/text-d.png" alt="我们和你一起寻找回家的路"></div>
    </div>
    <a href="/login" class="tiyan">立即体验</a>
    <script src="./js/common.js"></script>    
</body>
</html>